* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#navbar {
    padding: 1.5rem;
    background-color: royalblue;
}

#nav-list {
    display: grid;
    gap: 1rem;
    justify-content: flex-start;
    margin-top: 1rem;
}

#nav-list li{
    list-style: none;
}

.navbar-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
}

#logo {
    font-size: 2rem;
    font-weight: bold;
    height: 10%;
}

#logo img {
    height: 70%;
}

.navbar-item img {
    height: 2.2rem;
}

/* ------------------------------------------- */

#dashboard {
    background-color: rebeccapurple;
}

.header-sub-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: antiquewhite;
}

#search {
    display: flex;
    width: 80%;
}

input[type="search"] {
    flex: 1;
    max-height: 2rem;
    border-radius: 1rem;
    border: none;
}

#account {
    width: 20%;
    padding: 1rem;
    display: grid;
    gap: 1rem;  
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
}

.icon {
    width: 2rem;
}

.profile-picture {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    border-radius: 50%;
}

.profile-picture img {
    max-width: 100%;
    max-height: 100%;
}

#admin-profile {
    flex: 2;
}

#admin-profile > .profile-picture {
    margin-right: 1rem;
}

.profile {
    display: flex;
}

#greeting p:nth-child(1) {
    font-size: 1.2rem;
}

#greeting p:nth-child(2) {
    font-size: 2rem;
}

#buttons {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    flex-wrap: wrap;
}

#buttons > input[type="button"] {
    padding: 0.6rem 1.6rem;
    font-size: 1rem;
    border-radius: 2rem;
}

#main-content {
    display: grid;
    gap: 2rem;
    grid-template: repeat(auto-fit, minmax(150px, 1fr)) / 2fr 1fr;
    padding: 2rem;
}

#projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

#announcements h2{
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

#announcement-container{
    font-size: 1rem;
    padding: 0.8rem;
    background-color: #22adc5;
}

.announcement:not(:last-child) {
    padding: 0.8rem;
    border-bottom: 1px solid #080808;
}

.announcement:last-child{
    padding: 1rem;
}

#trending-profiles {
    grid-column: 2 / 3;
}

