@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --blackberry: hsl(329, 20%, 43%);
    --pale-chestnut: hsl(13, 44%, 77%);
    --champagne: hsl(42, 74%, 90%);
    --raisin-black: hsl(328, 25%, 14%);
}

#container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#navbar {
    padding: 1.5rem;
    color: var(--champagne);
    background-color: var(--blackberry);
    z-index: 1;
    box-shadow: 0px 0px 8px 2px var(--raisin-black);
}

#nav-list {
    display: grid;
    gap: 1rem;
    justify-content: flex-start;
    margin-top: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
}

#nav-list li {
    list-style: none;
}

.navbar-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
}

.navbar-item:hover {
    cursor: pointer;
    transform: scale(1.06);
}

#logo {
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 0rem;
    font-family: 'Source Sans Pro', sans-serif;
}

#logo img {
    height: 3rem;
}

.navbar-item img {
    height: 2.1rem;
}

/* ------------------------------------------- */

#dashboard {
    background-color: var(--pale-chestnut);
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    box-shadow: 0px 0px 10px var(--raisin-black);
}

.header-sub-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--champagne);
}

#search {
    display: flex;
    width: 70%;
}

#search img[class="icon"] {
    margin-right: 1rem;
    margin-top: 0.2rem;
}

input[type="search"] {
    flex: 1;
    max-height: 2rem;
    border-radius: 1rem;
    background-color: var(--pale-chestnut);
    border: none;
    padding: 1rem;
    font-size: 1.2rem;
    color: var(--blackberry);
    outline: none;
    font-family: 'Source Sans Pro', sans-serif;
}

input[type="search"]:focus {
    transform: scale(1.02);
    border: 1px solid var(--blackberry);
}

#account {
    width: 20%;
    padding: 1rem;
    display: grid;
    gap: 1.8rem;  
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
}

.icon {
    width: 1.8rem;
}

.icon:hover {
    cursor: pointer;
    transform: scale(1.06);
}

.username {
    color: var(--blackberry);
    font-weight: bold;
}

.profile-picture {   
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--champagne);
    border-radius: 50%;
}

.profile-picture:hover {
    cursor: pointer;
    transform: scale(1.06);
}

.profile-picture img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

#admin-profile {
    flex: 2;
}

#admin-profile > .profile-picture {
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
}

.profile {
    display: flex;
}

#greeting p:nth-child(1) {
    font-size: 1.2rem;
    color: var(--blackberry);
}

#greeting p:nth-child(2) {
    font-size: 2rem;
}

#buttons {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    flex-wrap: wrap;
}

#buttons > input[type="button"] {
    padding: 0.6rem 1.6rem;
    font-size: 1rem;
    color: var(--champagne);
    background-color: var(--blackberry);
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 2rem;
    border: none;
}

#buttons > input[type="button"]:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#content {
    display: grid;
    gap: 2rem;
    grid-template: repeat(auto-fit, minmax(150px, 1fr)) / 2.4fr 1fr;
    padding: 2rem;
}

#projects {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.section-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--blackberry);
}

.project {
    padding: 1.2rem;
    font-size: 1.1rem;
    color: var(--blackberry);
    border-radius: 8px;
    background-color: var(--champagne);
    border-left: 8px solid var(--blackberry);
}

.project:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.options {
    display: flex;
    justify-content: flex-end;
    margin: 1rem 0rem;
}

.options > img {
    margin: 0rem 0.6rem;
}

#announcements {
    font-size: 1rem;
    padding: 0.8rem;
    color: var(--blackberry);
    border-radius: 0.6rem;
    background-color: var(--champagne);
}

#announcements:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.announcement:not(:last-child) {
    padding: 0.8rem;
    border-bottom: 1px solid var(--blackberry);
}

.announcement:last-child {
    padding: 1rem;
}

.announcement:hover {
    cursor: pointer;
    transform: scale(1.02);
}

#trending-section {
    margin-top: 2rem;
}

#trending-section:hover {
    cursor: pointer;
    transform: scale(1.02);
}

#trending-profiles {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1rem;
    padding: 1.4rem;
    border-radius: 0.6rem;
    background-color: var(--champagne);
}

.trending-profile {
    display: flex;
    align-items: center;
}

.trending-profile:hover {
    cursor: pointer;
    transform: scale(1.06);
}
.trending-profile > .profile-picture {
    width: 4rem;
    height: 4rem;
}

.trending-profile-details {
    margin-left: 1rem;
    color: var(--blackberry);
}

footer {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: var(--champagne);
    background-color: var(--blackberry);
    font-size: 1.2rem;
    font-family: 'Source Sans Pro', sans-serif;
    border-top: 1px solid var(--champagne);
}

footer a {
    color: var(--champagne);
    font-weight: bold;
    text-decoration: none;
}